@model eTermin.Models.User
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>user home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><img src="~/img/mhsc-logo.png" width="150">
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                @Html.ActionLink("Home", "Index", "User", null, new { @class = "text-secondary", d = "linkHome", style = "margin-right: 20px;" })
                @Html.ActionLink("Sports centres", "TabSportsCentres", "User", null, new { @class = "text-secondary", d = "linkSportsCentres", style = "margin-right: 20px;" })
                @Html.ActionLink("Custom reservation", "TabCustomReservation", "User", null, new { @class = "text-secondary", d = "linkCustomReservation", style = "margin-right: 20px;" })
                @Html.ActionLink("My reservations", "TabMyReservations", "User", null, new { @class = "text-secondary", d = "linkMyReservation", style = "margin-right: 20px;" })
                @Html.ActionLink("My account", "TabMyAccount", "User", null, new { @class = "text-secondary", d = "linkMyAccount", style = "margin-right: 20px;" })
                @Html.ActionLink("About", "TabAbout", "User", null, new { @class = "text-secondary", d = "linkAbout", style = "margin-right: 20px;" })



                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"></label></div>
                </form><small class="form-text text-muted" id="textCurrency" style="font-family: 'Amatic SC', cursive;font-size: 29px;width: 40px;">@Model.Balance</small><img src="~/img/dollar.png" width="40px" style="filter: grayscale(52%) hue-rotate(9deg);margin-right: 20px;">
                @Html.ActionLink("Sign out", "UserSignOut_OnClick", "User", null, new { @class = "btn btn-light action-button", style = "margin-right: 10px;border-radius: 20px;border-color: #7BDC97;", type = "button" })

            </div>
        </div>
    </nav>
    <style>
        #map {
            height: 700px;
            width: 1100px;
            align-content: center;
            align-items: center;
            align-self: center
        }
    </style>

    <div class="map-clean">
        <div class="container">
            <div id="map"></div>
            <script>
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 43.847581, lng: 18.364608 },
                        zoom: 15
                    });
                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcNPtqdgXh8QbwLpPwLAGDCoCsikfKlj4&callback=initMap"
                    type="text/javascript"></script>

        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>