@model eTermin.Models.User
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>user my reservations</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Map-Clean.css" rel="stylesheet" />
    <link href="~/css/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/css/Navigation-with-Search.css" rel="stylesheet" />
    <link href="~/css/Registration-Form-with-Photo.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/fonts/fontawesome-all.min.css" rel="stylesheet" />
</head>

<body>
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><img src="~/img/mhsc-logo.png" width="150">
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                @Html.ActionLink("Home", "Index", "User", null, new { @class = "text-secondary", d = "linkHome", style = "margin-right: 20px;" })
                @Html.ActionLink("Sports centres", "TabSportsCentres", "User", null, new { @class = "text-secondary", d = "linkSportsCentres", style = "margin-right: 20px;" })
                @Html.ActionLink("Custom reservation", "TabCustomReservation", "User", null, new { @class = "text-secondary", d = "linkCustomReservation", style = "margin-right: 20px;" })
                @Html.ActionLink("My reservations", "TabMyReservations", "User", null, new { @class = "text-secondary", d = "linkMyReservation", style = "margin-right: 20px;" })
                @Html.ActionLink("My account", "TabMyAccount", "User", null, new { @class = "text-secondary", d = "linkMyAccount", style = "margin-right: 20px;" })
                @Html.ActionLink("About", "TabAbout", "User", null, new { @class = "text-secondary", d = "linkAbout", style = "margin-right: 20px;" })
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"></label></div>
                </form>
                <small class="form-text" id="tvCurrency" style="font-family: 'Amatic SC', cursive;font-size: 29px;width: 40px;">@Model.Balance</small><img src="~/img/dollar.png" width="40px" style="margin-right: 20px;filter: grayscale(52%) hue-rotate(9deg);">
                @Html.ActionLink("Sign out", "UserSignOut_OnClick", "User", null, new { @class = "btn btn-light action-button", style = "margin-right: 10px;border-radius: 20px;border-color: #7BDC97;", type = "button" })
            </div>
        </div>
    </nav>
    <div class="table-borderless">
        <div class="container" style="filter: blur(0px) brightness(86%) contrast(0%);">
            <div class="intro"></div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 style="width: 343px;">My reservations</h2>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-self-start">
                    <i class="fas fa-search d-xl-flex justify-content-xl-center align-items-xl-center"></i><input class="border rounded d-xl-flex justify-content-xl-center align-items-xl-center search-field" type="search" id="search-field" style="background-color: #eaeaea;width: 80%;height: 38px;padding: 0px;margin-left: 17px;"
                                                                                                                  name="search">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Duration</th>
                                <th>Sport</th>
                                <th>Sports centre</th>
                                <th>Price</th>
                                <th>Cancel or change</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<Reservation> reservations = DatabaseContext.getInstance().Reservations(Model);
                                for (int i = 0; i < reservations.Count; i++) {
                                    Hall hall = DatabaseContext.getInstance().GetHall(reservations[i].HallID);
                                    <tr>
                                        <td>@reservations[i].DateTime.ToShortDateString()</td>
                                        <td>@reservations[i].DateTime.ToShortTimeString()</td>
                                        <td>@hall.Duration h</td>
                                        <td>@hall.Sport</td>
                                        <td>@DatabaseContext.getInstance().GetSportCentre(reservations[i].HallID)</td>
                                        <td>@hall.Price</td>
                                        <td>
                                            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                            <button type="button" class="btn btn-warning"><i class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>