<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>employee transactions</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/CDRapido-Listado-Socios.css">
    <link rel="stylesheet" href="~/css/Map-Clean.css">
    <link rel="stylesheet" href="~/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="~/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/Team-Clean.css">
</head>

<body>
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><img src="~/img/mhsc-logo.png" width="150">
            <div class="collapse navbar-collapse"
                 id="navcol-1" style="border-radius: 20px;">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                @Html.ActionLink("Home", "Index", "Employee", null, new { @class = "text-secondary", d = "linkHome", style = "margin-right: 20px;" })
                @Html.ActionLink("Reservations", "TabReservations", "Employee", null, new { @class = "text-secondary", d = "linkSportsCentres", style = "margin-right: 20px;" })
                @Html.ActionLink("Transactions", "TabTransactions", "Employee", null, new { @class = "text-secondary", d = "linkCustomReservation", style = "margin-right: 20px;" })
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"></label></div>
                </form>
                @Html.ActionLink("Sign out", "EmployeeSignOut_OnClick", "Employee", null, new { @class = "btn btn-light action-button", style = "margin-right: 10px;border-radius: 20px;border-color: #7BDC97;", type = "button" })
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Transactions</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">@Html.ActionLink("Make a new transaction", "Gift", "Employee", null, new { @class = "btn btn-info", style = "border-radius: 20px;" })</div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="padding-top: 5px;">
            <div class="row">
                <div class="col-md-12">
                    <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>To</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<Transaction> transactions = DatabaseContext.getInstance().AllTransactions();
                                for (int i = 0; i < transactions.Count; i++) {
                                    Transaction transaction = transactions[i];
                                    <tr>
                                        <td>@transaction.TransactionID</td>
                                        <td>@transaction.Time.ToShortDateString()</td>
                                        <td>@transaction.Time.ToShortTimeString()</td>
                                        <td>@DatabaseContext.getInstance().GetUser(transaction.UserID).Username</td>
                                        <td>@transaction.Amount</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="map-clean"></div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>